flows.json
[{"id":"edaab067.2ce7c","type":"tab","label":"UPLINK","disabled":false,"info":""},{"id":"c0a3af32.984d7","type":"tab","label":"NODESMAN","disabled":false,"info":""},{"id":"3ade52c6.ecefae","type":"mqtt-broker","name":"LORAWAN","broker":"192.168.4.197","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4029e4b.b618d","type":"sqlitedb","db":"/usr/share/vipimo/data/nodemanagement","mode":"RWC"},{"id":"6db41ac2.0cbf34","type":"json","z":"edaab067.2ce7c","name":"JSON","property":"payload","action":"","pretty":true,"x":170,"y":20,"wires":[["a45f04ce.994e48"]]},{"id":"974850fb.3ee4e","type":"mqtt in","z":"edaab067.2ce7c","name":"MQTT","topic":"lorawan-server-uplink/#","qos":"2","datatype":"auto","broker":"3ade52c6.ecefae","x":50,"y":20,"wires":[["6db41ac2.0cbf34"]]},{"id":"37640b53.4c5134","type":"http in","z":"c0a3af32.984d7","name":"ADD","url":"/addnode","method":"get","upload":false,"swaggerDoc":"","x":50,"y":20,"wires":[["7ec99d77.0ba684"]]},{"id":"7ec99d77.0ba684","type":"template","z":"c0a3af32.984d7","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,\n*::before,\n*::after {\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n}\n\nbody {\n  font-family: sans-serif;\n  margin: 0;\n  padding: 0;\n}\n\n.container {\n  height: 60px;\n  background-color: #333333;\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-align: center;\n  -ms-flex-align: center;\n  align-items: center;\n  overflow: hidden;\n}\n\n.container .logo {\n  max-width: 250px;\n  padding: 0 10px;\n  overflow: hidden;\n}\n\n.container .logo a {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-align: center;\n  -ms-flex-align: center;\n  align-items: center;\n  height: 60px;\n}\n\n.container .logo a img {\n  max-width: 100%;\n  max-height: 60px;\n}\n\n.container .navbar {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-flex: 1;\n  -ms-flex: 1;\n  flex: 1;\n  padding: 0 10px;\n}\n\n.container .navbar ul {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n\n.container .navbar ul li a {\n  text-decoration: none;\n  color: #999999;\n  font-size: 14px;\n  text-transform: uppercase;\n  display: block;\n  height: 60px;\n  line-height: 60px;\n  cursor: pointer;\n  padding: 0 10px;\n}\n\n.container .navbar ul li a:hover {\n  color: #ffffff;\n  background-color: rgba(23, 23, 23, 0.9);\n}\n\n.container .navbar ul .close {\n  display: none;\n  text-align: right;\n  padding: 10px;\n}\n\n.container .navbar ul .close span {\n  font-size: 40px;\n  display: inline-block;\n  border: 1px solid #cccccc;\n  padding: 0 10px;\n  cursor: pointer;\n}\n\n.container .navbar .icon-bar {\n  padding: 18px 8px;\n  width: 50px;\n  height: 60px;\n  display: none;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n  -ms-flex-direction: column;\n  flex-direction: column;\n  -webkit-box-pack: justify;\n  -ms-flex-pack: justify;\n  justify-content: space-between;\n  cursor: pointer;\n}\n\n.container .navbar .icon-bar i {\n  background-color: #ffffff;\n  height: 2px;\n}\n\n@media only screen and (max-width: 650px) {\n  .container {\n    -webkit-box-pack: justify;\n    -ms-flex-pack: justify;\n    justify-content: space-between;\n  }\n\n  .container .logo {\n    -webkit-box-flex: 1;\n    -ms-flex: 1;\n    flex: 1;\n  }\n\n  .container .navbar {\n    -webkit-box-flex: 0;\n    -ms-flex: 0;\n    flex: 0;\n  }\n\n  .container .navbar ul {\n    -ms-flex-wrap: nowrap;\n    flex-wrap: nowrap;\n    position: fixed;\n    left: 100%;\n    -webkit-box-orient: vertical;\n    -webkit-box-direction: normal;\n    -ms-flex-direction: column;\n    flex-direction: column;\n    background: #ffffff;\n    width: 100%;\n    height: 100%;\n    overflow: auto;\n    -webkit-transition: left .3s;\n    -o-transition: left .3s;\n    transition: left .3s;\n  }\n\n  .container .navbar ul li a {\n    padding: 10px;\n    font-size: 16px;\n    height: auto;\n    line-height: normal;\n    color: #555555;\n  }\n\n  .container .navbar ul .close {\n    display: block;\n  }\n\n  .container .navbar .icon-bar {\n    display: -webkit-box;\n    display: -ms-flexbox;\n    display: flex;\n  }\n\n  .container .navbar ._Menus-show {\n    left: 0;\n  }\n}\n\n.body {\n  max-width: 700px;\n  margin: 0 auto;\n  padding: 10px;\n}\n\n\n* {\n    box-sizing: border-box;\n    text-rendering: optimizeLegibility;\n}\n\nh3 {\n    display: block;\n    font-size: 20px;\n    font-weight: 300;\n}\n\n.body-container{\n   max-width: 800px;\n  margin: 0 auto;\n  padding: 10px;\n}\n.flex-container {\n    display:  inline-flex;;\n    padding: 10px 5px;\n    box-sizing: border-box;\n    flex-wrap: wrap;\n    gap: 12px;\n}\n\n#field-name{\n    flex: 3;\n}\n\n#add-btn{\n    flex: 1;\n}\n\n\ninput {\n    font: 400 12px/16px \"Roboto\", Helvetica, Arial, sans-serif;\n    border: 1px solid #ccc;\n    background: #FFF;\n    margin: 0 0 5px;\n    padding: 8px;\n}\n\n#add-btn{\n    background: #4CAF50;\n    margin-left: 1rem;\n}\n\n#save-btn{\n    background: #0699d3;\n}\n\n#cancel-btn{\n    background: #ee1b2c;\n}\nbutton {\n    cursor: pointer;\n    border: none;\n    color: #FFF;\n    padding: 8px;\n    margin-left: 10px;\n    height: 34px;\n    border-radius: 3px;\n    width: 4rem;\n}","output":"str","x":170,"y":20,"wires":[["e8fd2a02.373bd8"]]},{"id":"e8fd2a02.373bd8","type":"template","z":"c0a3af32.984d7","name":"JS","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"function addField() {\n    var form = document.getElementById(\"flex-a\");\n    var fieldName = document.getElementById(\"field-name\").value;\n    if (fieldName.length <= 4) {\n        alert('Field Name Must be atleast 5 characters long')\n    } else {\n        var newfield = document.createElement(\"input\");\n        newfield.setAttribute(\"type\", \"text\");\n        newfield.setAttribute(\"name\", fieldName);\n        newfield.setAttribute(\"placeholder\", fieldName);\n        newfield.setAttribute(\"required\", true);\n        form.appendChild(newfield)\n    }\n}\n\ndocument.addEventListener(\"DOMContentLoaded\", function () {\n    let nodes = [];\n    let xhr = new XMLHttpRequest();\n    xhr.onreadystatechange = function () {\n        if (this.readyState == 4 && this.status == 200) {\n           if ((this.responseText).length > 20) {\n                nodes = JSON.parse(xhr.responseText)\n                console.log(\"NODE:: \",nodes);\n           }\n        }\n    };\n    console.log('Loaded');\n    xhr.open(\"GET\", \"/getnodes\", true);\n    xhr.send();\n    var form = document.getElementById(\"form\");\n    form.addEventListener(\"submit\", function (e) {\n        e.preventDefault();\n        document.getElementById(\"save-btn\").setAttribute('disabled',true)\n        var dev = toJSONString(this);\n        let xhr = new XMLHttpRequest();\n        xhr.onreadystatechange = function () {\n            if (this.readyState == 4 && this.status == 200) {\n                console.log(this.responseText);\n                location.reload()\n            }\n        };\n        xhr.open(\"POST\", \"/postnode\", true);\n        let nodePresent = false;\n        nodes.forEach(element=>{\n            if ((element.DevAddr).toLowerCase() == dev.DevAddr.toLowerCase()) {\n                nodePresent = true\n            }\n        })\n\n        if (!nodePresent) {\n            nodes.push(dev)\n            xhr.send(JSON.stringify(nodes));\n            document.getElementById(\"save-btn\").setAttribute('disabled',false)   \n        }else{\n            alert(\"Node Already Exist\")\n            xhr.send(JSON.stringify(nodes));\n        }\n    }, false);\n\n});\n\n\nvar navList = document.getElementById(\"nav-lists\");\nfunction Show() {\n    navList.classList.add(\"_Menus-show\");\n}\n\nfunction Hide() {\n    navList.classList.remove(\"_Menus-show\");\n}\n\nfunction toJSONString(form) {\n    var obj = {};\n    var elements = form.querySelectorAll(\"input, select, textarea\");\n    for (var i = 0; i < elements.length; ++i) {\n        var element = elements[i];\n        var name = element.name;\n        var value = element.value;\n\n        if (name) {\n            obj[name] = value;\n        }\n    }\n\n    return obj;\n}","output":"str","x":290,"y":20,"wires":[["7879d00f.c7bc2"]]},{"id":"7879d00f.c7bc2","type":"template","z":"c0a3af32.984d7","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>{{{payload.style}}}</style>\n    <title>Node Man</title>\n</head>\n\n<body>\n\n    <div class=\"container\">\n        <div class=\"logo\" style=\"color:#FFFFFF;\">\n            VipimoLITE\n        </div>\n        <div class=\"navbar\">\n\n            <div class=\"icon-bar\" onclick=\"Show()\">\n                <i></i>\n                <i></i>\n                <i></i>\n            </div>\n\n            <ul id=\"nav-lists\">\n                <li class=\"close\"><span onclick=\"Hide()\">×</span></li>\n                <li><a href=\"/nodeman\">Node Lists</a></li>\n                <li><a href=\"/addnode\">Add Node</a></li>\n            </ul>\n\n        </div>\n    </div>\n    \n    <div class=\"body-container\">\n        <div class=\"flex-container\" style=\"margin-left: 0.5em;\">\n            <input type=\"text\" placeholder=\"Enter Field Name\" id=\"field-name\"  required name=\"field-name\">\n            <button id=\"add-btn\" onclick=\"addField()\">Add</button>\n        </div>\n        \n        <form id=\"form\">\n            <div class=\"flex-container\" id=\"flex-a\" style=\"margin-left: 0.5em;\">\n                <input placeholder=\"DevAddr\" required type=\"text\" name=\"DevAddr\">\n                <input required placeholder=\"Access Token\"  type=\"text\" name=\"Token\">\n                <input placeholder=\"DevType\"required  type=\"text\" name=\"DevType\">\n                <input placeholder=\"Encoding\" required type=\"text\" name=\"Encoding\">\n            </div>\n            <div class=\"flex-container\">\n                <button id=\"save-btn\" type=\"submit\">Save</button>\n                <button id=\"cancel-btn\" type=\"reset\">Cancel</button>\n            </div>\n        </form>\n    </div>\n    <script>{{{payload.script}}}</script>\n</body>\n\n</html>","output":"str","x":410,"y":20,"wires":[["12774b01.e56995"]]},{"id":"12774b01.e56995","type":"http response","z":"c0a3af32.984d7","name":"RES","statusCode":"","headers":{},"x":530,"y":20,"wires":[]},{"id":"d36bdd79.554f3","type":"http in","z":"c0a3af32.984d7","name":"LIST","url":"/nodeman","method":"get","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["e71d7bd2.05d7a8"]]},{"id":"2f30960f.b36dca","type":"http response","z":"c0a3af32.984d7","name":"RES","statusCode":"","headers":{},"x":530,"y":60,"wires":[]},{"id":"e71d7bd2.05d7a8","type":"template","z":"c0a3af32.984d7","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*,\n*::before,\n*::after {\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n}\n\nbody {\n  font-family: sans-serif;\n  margin: 0;\n  padding: 0;\n}\n\n.container {\n  height: 60px;\n  background-color: #333333;\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-align: center;\n  -ms-flex-align: center;\n  align-items: center;\n  overflow: hidden;\n}\n\n.container .logo {\n  max-width: 250px;\n  padding: 0 10px;\n  overflow: hidden;\n}\n\n.container .logo a {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-align: center;\n  -ms-flex-align: center;\n  align-items: center;\n  height: 60px;\n}\n\n.container .logo a img {\n  max-width: 100%;\n  max-height: 60px;\n}\n\n.container .navbar {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  -webkit-box-flex: 1;\n  -ms-flex: 1;\n  flex: 1;\n  padding: 0 10px;\n}\n\n.container .navbar ul {\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-wrap: wrap;\n  flex-wrap: wrap;\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n\n.container .navbar ul li a {\n  text-decoration: none;\n  color: #999999;\n  font-size: 14px;\n  text-transform: uppercase;\n  display: block;\n  height: 60px;\n  line-height: 60px;\n  cursor: pointer;\n  padding: 0 10px;\n}\n\n.container .navbar ul li a:hover {\n  color: #ffffff;\n  background-color: rgba(23, 23, 23, 0.9);\n}\n\n.container .navbar ul .close {\n  display: none;\n  text-align: right;\n  padding: 10px;\n}\n\n.container .navbar ul .close span {\n  font-size: 40px;\n  display: inline-block;\n  border: 1px solid #cccccc;\n  padding: 0 10px;\n  cursor: pointer;\n}\n\n.container .navbar .icon-bar {\n  padding: 18px 8px;\n  width: 50px;\n  height: 60px;\n  display: none;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n  -ms-flex-direction: column;\n  flex-direction: column;\n  -webkit-box-pack: justify;\n  -ms-flex-pack: justify;\n  justify-content: space-between;\n  cursor: pointer;\n}\n\n.container .navbar .icon-bar i {\n  background-color: #ffffff;\n  height: 2px;\n}\n\n@media only screen and (max-width: 650px) {\n  .container {\n    -webkit-box-pack: justify;\n    -ms-flex-pack: justify;\n    justify-content: space-between;\n  }\n\n  .container .logo {\n    -webkit-box-flex: 1;\n    -ms-flex: 1;\n    flex: 1;\n  }\n\n  .container .navbar {\n    -webkit-box-flex: 0;\n    -ms-flex: 0;\n    flex: 0;\n  }\n\n  .container .navbar ul {\n    -ms-flex-wrap: nowrap;\n    flex-wrap: nowrap;\n    position: fixed;\n    left: 100%;\n    -webkit-box-orient: vertical;\n    -webkit-box-direction: normal;\n    -ms-flex-direction: column;\n    flex-direction: column;\n    background: #ffffff;\n    width: 100%;\n    height: 100%;\n    overflow: auto;\n    -webkit-transition: left .3s;\n    -o-transition: left .3s;\n    transition: left .3s;\n  }\n\n  .container .navbar ul li a {\n    padding: 10px;\n    font-size: 16px;\n    height: auto;\n    line-height: normal;\n    color: #555555;\n  }\n\n  .container .navbar ul .close {\n    display: block;\n  }\n\n  .container .navbar .icon-bar {\n    display: -webkit-box;\n    display: -ms-flexbox;\n    display: flex;\n  }\n\n  .container .navbar ._Menus-show {\n    left: 0;\n  }\n}\n\n.body {\n  max-width: 700px;\n  margin: 0 auto;\n  padding: 10px;\n}\n\n\n* {\n    box-sizing: border-box;\n    text-rendering: optimizeLegibility;\n    font-size: small;\n    font-family: 'Courier New', Courier, monospace;\n}\n\nh3 {\n    display: block;\n    font-size: 20px;\n    font-weight: 300;\n}\n\n.body-container{\n  width: 800px;\n  margin: 0 auto;\n  padding: 10px;\n}\n\n.body-list-container{\n  width: 100%;\n  margin: 0 auto;\n  padding: 10px;\n}\n\n.flex-container {\n    display:  inline-flex;;\n    padding: 10px 5px;\n    box-sizing: border-box;\n    flex-wrap: wrap;\n    gap: 12px;\n    margin: 0 auto;\n}\n\n#field-name{\n    flex: 3;\n}\n\n#add-btn{\n    flex: 1;\n}\n\n\ninput {\n    font: 400 12px/16px \"Roboto\", Helvetica, Arial, sans-serif;\n    border: 1px solid #ccc;\n    background: #FFF;\n    margin: 0 0 5px;\n    padding: 8px;\n}\n\n#add-btn{\n    background: #4CAF50;\n    margin-left: 1rem;\n}\n\n#save-btn{\n    background: #0699d3;\n}\n\n#cancel-btn{\n    background: #ee1b2c;\n    margin-left: 0;\n    width: 150px;\n}\nbutton {\n    cursor: pointer;\n    border: none;\n    color: #FFF;\n    padding: 8px;\n    margin-left: 10px;\n    height: 34px;\n    border-radius: 3px;\n    width: 4rem;\n}\n\n.card {\n    /* Add shadows to create the \"card\" effect */\n    transition: 0.3s;\n    padding-left: 1rem;\n    padding-right: 1rem;\n    padding-top: 0.5rem;\n    padding-bottom: 0.5rem;\n    border-radius: 5px;\n    width: 200px;\n    background-color: #ccc;\n  }\n  \n  .card:hover {\n    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);\n  }","output":"str","x":170,"y":60,"wires":[["93891d83.05723"]]},{"id":"93891d83.05723","type":"template","z":"c0a3af32.984d7","name":"JS","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"let cardList = document.getElementById(\"flex-a\")\nfunction addNodeProp(data) {\n    data = JSON.parse(data)\n    data.forEach(element => {\n        let card = document.createElement('div')\n        card.setAttribute('class', 'card')\n\n        for (const [key, value] of Object.entries(element)) {\n            let p = document.createElement('p')\n            p.innerText = `${key}: ${value}`\n            card.appendChild(p)\n            console.log(key, value);\n        }\n\n        let delBtnHtml = `<button onClick=deleteNode(\"${element.DevAddr}\") id=\"cancel-btn\">Delete</button>`\n        card.insertAdjacentHTML('beforeend', delBtnHtml)\n        cardList.appendChild(card)\n    });\n}\n\nfunction deleteNode(Addr) {\n    let xhr = new XMLHttpRequest();\n    xhr.onreadystatechange = function () {\n        if (this.readyState == 4 && this.status == 200) {\n            if ((this.responseText).length > 20) {\n                let nodes = [];\n                nodes = JSON.parse(xhr.responseText)\n                nodes.forEach(element => {\n                    console.log(\"NODE1:: \", element);\n                })\n                nodes.forEach(element => {\n                    if ((element.DevAddr).toLowerCase() == Addr.toLowerCase()) {\n                        console.log(\"NODEDEL \", element);\n                        nodes.pop(element)\n                    }\n                })\n                nodes.forEach(element => {\n                    console.log(\"NODE2:: \", element);\n                })\n\n                if (nodes != null || nodes != undefined) {\n                    let xhr = new XMLHttpRequest();\n                    xhr.onreadystatechange = function () {\n                        if (this.readyState == 4 && this.status == 200) {\n                            console.log(this.responseText);\n                        }\n                    };\n                    xhr.open(\"POST\", \"/postnode\", true);\n                    xhr.send(JSON.stringify(nodes));\n                    location.reload()\n                } else {\n                    console.log('Node Undef');\n                }\n            } else {\n                console.log(\"Nothing to Do here\");\n            }\n        }\n    };\n    xhr.open(\"GET\", \"/getnodes\", true);\n    xhr.send();\n}\n\n\ndocument.addEventListener(\"DOMContentLoaded\", function () {\n\n    let xhttp = new XMLHttpRequest\n    let xhr = new XMLHttpRequest();\n    xhr.onreadystatechange = function () {\n        if (this.readyState == 4 && this.status == 200) {\n            addNodeProp(xhr.responseText)\n        }\n    };\n    xhr.open(\"GET\", \"/getnodes\", true);\n    xhr.send();\n    document.body.addEventListener('click', (e) => {\n        if (e.target && e.target.class === 'del') {\n            let addr = e.target.data - devAddr\n            let newNodes = deleteDev(addr)\n            updateNode(newNodes);\n            location.reload()\n        }\n    })\n}, false);\n\nvar navList = document.getElementById(\"nav-lists\");\nfunction Show() {\n    navList.classList.add(\"_Menus-show\");\n}\n\nfunction Hide() {\n    navList.classList.remove(\"_Menus-show\");\n}\n\n","output":"str","x":290,"y":60,"wires":[["6ab2751f.3e09bc"]]},{"id":"6ab2751f.3e09bc","type":"template","z":"c0a3af32.984d7","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node Man</title>\n</head>\n\n<body>\n<style>{{{payload.style}}}</style>\n\n    <div class=\"container\">\n        <div class=\"logo\"style=\"color:#FFFFFF;\">\n            VipimoLITE\n        </div>\n        <div class=\"navbar\">\n\n            <div class=\"icon-bar\" onclick=\"Show()\">\n                <i></i>\n                <i></i>\n                <i></i>\n            </div>\n\n            <ul id=\"nav-lists\">\n                <li class=\"close\"><span onclick=\"Hide()\">×</span></li>\n                <li><a href=\"/nodeman\">Node Lists</a></li>\n                <li><a href=\"/addnode\">Add Node</a></li>\n            </ul>\n\n        </div>\n    </div>\n\n    <div class=\"body-list-container\">\n        <div class=\"flex-container\" id=\"flex-a\" style=\"margin-left: 0.5em;\">\n        </div>\n    </div>\n    </div>\n    <script>\n        {{{payload.script}}}\n    </script>\n</body>\n\n</html>","output":"str","x":410,"y":60,"wires":[["2f30960f.b36dca"]]},{"id":"edbc0bed.cd40c8","type":"file in","z":"c0a3af32.984d7","name":"Nodes","filename":"/home/pi/Nodes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":170,"y":100,"wires":[["f955e483.176a48"]]},{"id":"836efe45.42a4c","type":"http in","z":"c0a3af32.984d7","name":"Nodes","url":"/getnodes","method":"get","upload":false,"swaggerDoc":"","x":50,"y":100,"wires":[["edbc0bed.cd40c8"]]},{"id":"36de4392.7d4ccc","type":"http response","z":"c0a3af32.984d7","name":"RES","statusCode":"","headers":{},"x":410,"y":100,"wires":[]},{"id":"a5623e0d.97b03","type":"file","z":"c0a3af32.984d7","name":"WRT","filename":"/home/pi/Nodes.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":170,"y":140,"wires":[["66f05a40.fae5f4"]]},{"id":"76bc9971.754858","type":"http in","z":"c0a3af32.984d7","name":"WRE","url":"/postnode","method":"post","upload":false,"swaggerDoc":"","x":50,"y":140,"wires":[["a5623e0d.97b03"]]},{"id":"66f05a40.fae5f4","type":"http response","z":"c0a3af32.984d7","name":"","statusCode":"","headers":{},"x":290,"y":140,"wires":[]},{"id":"f955e483.176a48","type":"json","z":"c0a3af32.984d7","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":100,"wires":[["36de4392.7d4ccc"]]},{"id":"3a74728e.8e548e","type":"file in","z":"edaab067.2ce7c","name":"NODES","filename":"/home/pi/Nodes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":240,"y":100,"wires":[["14ffaad5.b12e65"]]},{"id":"a45f04ce.994e48","type":"function","z":"edaab067.2ce7c","name":"DATA","func":"let packets = msg.payload;\nmsg.data = packets;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":60,"wires":[["3a74728e.8e548e"]]},{"id":"14ffaad5.b12e65","type":"function","z":"edaab067.2ce7c","name":"ENRICH","func":"let nodes = JSON.parse(msg.payload)\nconsole.log(nodes)\nlet nodeData = msg.data\nmsg.enriched = false\nnodeAddr = nodeData.DevAddr\nnodes.forEach(node =>{\n    if(node.DevAddr.toLowerCase()  == nodeData.devaddr.toLowerCase()){\n        for (const [key, value] of Object.entries(node)) {\n            nodeData[key.toLowerCase() ] = value\n        }    \n        \n        msg.payload = nodeData;\n        msg.enriched = true\n        msg.key = msg.payload.token\n    }\n})\ndelete msg.data\ndelete msg.filename\ndelete msg.qos\ndelete msg.topic\ndelete msg.retain\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["851dec2a.e4078"]]},{"id":"851dec2a.e4078","type":"switch","z":"edaab067.2ce7c","name":"SWT","property":"enriched","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":180,"wires":[["6c7cd7f.3ac5828"],[]],"outputLabels":["Rich","Null"]},{"id":"6c7cd7f.3ac5828","type":"switch","z":"edaab067.2ce7c","name":"RT","property":"payload.encoding","propertyType":"msg","rules":[{"t":"eq","v":"lora","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":220,"wires":[["59e6ada7.55ad94"],[]]},{"id":"d6b02545.019098","type":"debug","z":"edaab067.2ce7c","name":"DBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":360,"wires":[]},{"id":"59e6ada7.55ad94","type":"function","z":"edaab067.2ce7c","name":"RHTPdP","func":"\tlet data = msg.payload.data\n\tlet bigEndiantoSmallEndian_n_co = (hexstring) =>{\n\t\tlet len = hexstring.length;\n\t\tlet bytes = [];\n\t\tlet i = 0;\n\t\tif (len % 2 == 1) hexstring = '0' + hexstring;\n\t\tlen = hexstring.length;\n\t\tfor (i = 0; i < len; i++) bytes[i] = hexstring[i++] + hexstring[i];\n\t\treturn bytes.reverse().join(\"\");\n\t}\n\n\tlet decodeRhtpdp = (hexstring) =>{\n\t\tlet packet_bigEndian = [];\n\t\tlet hexlen = hexstring.length;\n\t\tfor (var i = 0; i < hexlen; i++) {\n\t\t\tpacket_bigEndian.push(parseInt(\"0x\" + hexstring[i++] + hexstring[i]));\n\t\t}\n\n\t\tlet statusFlags = packet_bigEndian[0];\n\t\tlet bitArray = [];\n\t\tfor (let i = 0; i <= 7; i++) {\n\t\t\tlet compare = (1 << i);\n\t\t\tbitArray[i] = ((statusFlags) & compare) >> i;\n\t\t}\n\n\t\tlet validhumiditysensor = bitArray[0];\n\t\tlet validbarometricsensor = bitArray[1];\n\t\tlet baromerchip = bitArray[2];\n\t\tlet validdiffpressuresensor = bitArray[3];\n\t\tlet diffpressuresensorcountsperpascal = bitArray[4];\n\n\t\tlet ret = {};\n\n\t\tlet boxtemp = hexstring.substr(22, 4);\n\t\tlet boxtemp1 = parseInt('0x' + boxtemp);\n\t\tlet boxtemp11 = ((boxtemp1 & 0xff00) >> 8);\n\t\tlet boxtemp111 = (boxtemp1 & 0x00ff) << 8;\n\t\tboxtemp111 += boxtemp11;\n\t\tboxtemp = boxtemp11.toString(16);\n\t\tboxtemp1 = parseInt('0x' + boxtemp);\n\t\tlet boxtempfinal = boxtemp1;\n\t\tret['T1'] = boxtempfinal.toFixed(4);\n\n\t\tlet battery = hexstring.substr(18, 4);\n\t\tbattery = bigEndiantoSmallEndian_n_co(battery);\n\t\tbattery = parseInt('0x' + battery);\n\t\tret['B'] = (battery / 1000).toFixed(4);\n\n\t\tif (validbarometricsensor === 1) {\n\t\t\tlet humidity = hexstring.substr(2, 4);\n\t\t\tlet humidity1 = parseInt('0x' + humidity);\n\t\t\tlet humidity11 = ((humidity1 & 0xff00) >> 8);\n\t\t\tlet humidity111 = (humidity1 & 0x00ff) << 8;\n\t\t\thumidity111 += humidity11;\n\t\t\thumidity = humidity111.toString(16);\n\t\t\thumidity1 = parseInt('0x' + humidity);\n\t\t\tlet humidityfinal = 100 * humidity1 / 65535;\n\t\t\tret['H1'] = humidityfinal;\n\n\t\t\tlet temp = hexstring.substr(6, 4);\n\t\t\tlet temp1 = parseInt('0x' + temp);\n\t\t\tlet temp11 = ((temp1 & 0xff00) >> 8);\n\t\t\tlet temp111 = (temp1 & 0x00ff) << 8;\n\t\t\ttemp111 += temp11;\n\t\t\ttemp = temp111.toString(16);\n\t\t\ttemp1 = parseInt('0x' + temp);\n\t\t\tlet tempfinal = -45 + 175 * (temp1 / 65535);\n\t\t\tret['T4'] = tempfinal.toFixed(4);\n\t\t}\n\n\t\tif (validhumiditysensor === 1) {\n\t\t\tlet temp = hexstring.substr(26, 4);\t\t\t\t// this is a signed temperature. What happens for negative values?\n\t\t\tlet temp1 = parseInt('0x' + temp);\n\t\t\tlet temp11 = ((temp1 & 0xff00) >> 8);\n\t\t\tlet temp111 = (temp1 & 0x00ff) << 8;\n\t\t\ttemp111 += temp11;\n\t\t\ttemp = temp111.toString(16);\n\t\t\ttemp1 = parseInt('0x' + temp);\n\t\t\tlet tempfinal = temp1 / 100;\n\t\t\tret['T2'] = tempfinal.toFixed(4);\n\n\t\t\tlet pressure = hexstring.substr(10, 8);\n\t\t\tpressure = bigEndiantoSmallEndian_n_co(pressure);\n\t\t\tpressure = parseInt('0x' + pressure);\n\t\t\tlet pressurefinal = pressure / 100;   // convert from Pascals to hectopascals\n\t\t\tret['P1'] = pressurefinal.toFixed(4);\n\t\t}\n\n\t\tlet retfinal = {\n\t\t\ttemperature: ret['T2'],\n\t\t\tpressure: ret['P1'],\n\t\t\thumidity: ret['H1'],\n\t\t\tvbat: ret['B'],\n\t\t}\n\n\t\treturn retfinal;\n\t}\n\tmsg.payload = decodeRhtpdp(data)\n\treturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["73291680.27a758"]]},{"id":"73291680.27a758","type":"http request","z":"edaab067.2ce7c","name":"TB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://vipimo-lite:8080/api/v1/{{{key}}}/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":300,"wires":[["d6b02545.019098"]]}]